@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>

<p>¡Bienvenidos a una aplicacion simple con Clean Architecture!</p>

<p>Links:</p>

<ul>
    <li>@Html.ActionLink("Clientes", "Index", "customers")</li>
    <li>@Html.ActionLink("Empleados", "Index", "employees")</li>
    <li>@Html.ActionLink("Productos", "index", "products")</li>
    <li>@Html.ActionLink("Ventas", "Index", "sales")</li>
</ul>

